<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuerhuixue.dao.InsTypeMapper">
  <resultMap id="BaseResultMap" type="com.yuerhuixue.pojo.InsType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_img" jdbcType="VARCHAR" property="typeImg" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="type_level" jdbcType="VARCHAR" property="typeLevel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="insTypeListFive" resultType="com.yuerhuixue.pojo.InsType">
    select *
    from ins_type
    limit 5
  </select>
</mapper>