<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuerhuixue.dao.VideoMapper">
  <resultMap id="BaseResultMap" type="com.yuerhuixue.pojo.Video">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="video_title" jdbcType="VARCHAR" property="videoTitle" />
    <result column="video_img" jdbcType="VARCHAR" property="videoImg" />
    <result column="video_desc" jdbcType="VARCHAR" property="videoDesc" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="videoVOMap" type="com.yuerhuixue.pojo.VideoVO">
    <id column="video_id_1" jdbcType="INTEGER" property="videoId" />
    <result column="video_title_1" jdbcType="VARCHAR" property="videoTitle" />
    <result column="video_img_1" jdbcType="VARCHAR" property="videoImg" />
    <result column="video_desc_1" jdbcType="VARCHAR" property="videoDesc" />
    <result column="user_id_1" jdbcType="INTEGER" property="userId" />
    <result column="video_url_1" jdbcType="VARCHAR" property="videoUrl" />
    <result column="create_time_1" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time_1" jdbcType="TIMESTAMP" property="updateTime" />
    <association property="videoType" javaType="com.yuerhuixue.pojo.VideoType">
      <id column="type_id_2" jdbcType="INTEGER" property="typeId" />
      <result column="type_name_2" jdbcType="VARCHAR" property="typeName" />
      <result column="type_img_2" jdbcType="VARCHAR" property="typeImg" />
      <result column="type_desc_2" jdbcType="VARCHAR" property="typeDesc" />
      <result column="type_level_2" jdbcType="VARCHAR" property="typeLevel" />
      <result column="create_time_2" jdbcType="TIMESTAMP" property="createTime" />
      <result column="update_time_2" jdbcType="TIMESTAMP" property="updateTime" />
    </association>
  </resultMap>

  <select id="findVideoVOById" resultMap="videoVOMap">
    select video_id as video_id_1,
           video_title as video_title_1,
           video_img as video_img_1,
           video_desc as video_desc_1,
           user_id as user_id_1,
           video_url as video_url_1,
           create_time as create_time_1,
           update_time as update_time_1,
           type_id as type_id_2,
           type_name as type_name_2,
           type_img as type_img_2,
           type_desc as type_desc_2,
           type_level as type_level_2,
           create_time as create_time_2,
           update_time as update_time_2
    from video t1 left join video_type t2 on t1.type_id = t2.type_id
    where t1.video_id = #{videoId}
  </select>
  
</mapper>